* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(100, 148, 98);
}
h1{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: rgb(250, 235, 215);/*文字色*/
}
.start {
    position: absolute;
    top: 160px;
    left: 50%;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    transform: translate(-50%, -50%);
    color: rgb(250, 235, 215);
}
.attack {
    position: absolute;
    top: 160px;
    left: 50%;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    transform: translate(-50%, -50%);
    color: rgb(250, 235, 215);
}
.attack2 {
    position: absolute;
    top: 160px;
    left: 50%;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    transform: translate(-50%, -50%);
    color: rgb(250, 235, 215);
}
p{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    color: rgb(250, 235, 215);/*文字色*/
}

.font {
    font-size: 45px;
}

.font-2 {
    font-family:'Times New Roman', Times, serif;
}
.title {
    font-size: 30px;
    position: absolute;
    left: 50px;
    color: rgb(250, 235, 215);
}

span:nth-of-type(2) {
    font-size: 40px;
}

span:nth-of-type(3) {
    font-family:'Times New Roman', Times, serif;
}

#again:hover{
    background: #6091d3;
    color: white;
    cursor: pointer;/*カーソルをポインターに変える*/
}

#squares-box {
    display: flex;
    flex-wrap:wrap;
    align-content:stretch;
    width: 400px;
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#squares-box.pointer-none{
    pointer-events: none;
}

.square{
    width: 120px;
    height: 120px;
    border: solid 3px rgb(100, 148, 98);/*線*/
    background: rgb(250, 235, 215);
    border-radius: 10px;/*角の丸み*/
}

.square:hover {
    background: rgb(255, 230, 154);
    border: 3px solid rgb(255, 230, 154);
}

.First span {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: rgb(250, 235, 215);
}

.First span:nth-of-type(1) {
    left: 270px;
    top: 300px;
    font-family:'Times New Roman', Times, serif;
}

.First span:nth-of-type(2) {
    left: 270px;
    top: 450px;
    font-size: 150px;
}

.Second span {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: rgb(250, 235, 215);
}

.Second span:nth-of-type(1) {
    right: 150px;
    top: 300px;
    font-family:'Times New Roman', Times, serif;
}

.Second span:nth-of-type(2) {
    right: 100px;
    top: 420px;
    font-size: 250px;
}
